body {
    width: 65%;
    margin: auto;
    background-position: right;
    background-size: 15vw;
}

h1, h2 {
    text-align: center;
    margin: 5%;
}

.container-fluid {
    clear: both;
}

.table {
    background-color: white;
    border: 1px black solid;
}

nav {
    width: 10vw;
    position: fixed;
    left: 0;
}

nav ul {
    margin: 0px;
    padding: 0px;
    background-color: darkred;
    list-style: none;
    overflow: auto;
    border: 2px dotted;
    border-style: dashed;
}

nav a {
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    background-color: #500d0d;
}

ol {
    list-style-type: upper-alpha;
}

img {
    max-width: 100%;
    width: 100px;
}

#linkek+ol li {
    margin: 10px 0px;
}

/* ----------------------------------------- */

body {
    background-color: rgba(125, 0, 0, 20%);
    background-image: url("kepek/mozaik.png");
    background-repeat: repeat-y;
    font-family: "Comic Sans MS", sans-serif;
}

p {
    text-align: justify;
}

.jobbkep {
    width: 15em;
    float: right;
    margin: 10px 0 5px 20px;
}

#meggy {
    width: 1em;
}

section p span {
    font-weight: bold;
    font-variant: small-caps;
}

/* 
    em: karakterméret
    rem: root karakterméret => html
*/

/* ------------------------------------------ */

@media screen and (max-width: 1600px) {
    nav {
        width: 15vw;
    }
}

@media screen and (max-width: 720px) {
    nav a {
        padding: 20px 0px;
    }

    img {
        max-width: 100%;
    }
}

@media screen and (max-width: 565px) {
    nav a {
        font-size: 60%;
    }
}