body {
    width: 70%;
    background-color: bisque;
    padding: 20px;
    border: 4px dashed black;
    margin: 0.2vh auto;

}

div {
    background-color: rgba(160, 120, 10, 20%);
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-variant: small-caps;
}
