body {
    width: 70%;
    background-color: bisque;
    padding: 20px;
    border: 4px dashed black;
    margin: 0.2vh auto;

}

div {
    background-color: rgba(160, 120, 10, 20%);
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-variant: small-caps;
}

h2 {
    border-right: 2px solid brown;
    border-bottom: 2px solid brown;
}

p {
    text-align: justify;
}

img {
    height: 20em;
    margin: auto;
    display: block;
}

li {
    margin-bottom: 20px;
}

.rekorder {
    color: #850707;
}

#rekord span {
    font-weight: bold;
    text-decoration: underline 1px dotted black;
    text-transform: uppercase;
}

#tortenelem {
    overflow: auto;
}

#tortenelem  p{
    margin: 0 5%;
    float: left;
    width: 40%;
    vertical-align: top;
}