header {
    padding: 2%;
    background-color: var(--lila);
    color: var(--feher);
    font-family: Impact, sans-serif;
    font-size: 6vw;
    font-variant: small-caps;
    letter-spacing: 4px;
}

.col-3, .col-9 {
    display: table;
}

header p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

footer, footer div {
    padding: 2%;
    background-color: var(--lila);
    color: var(--feher);
    text-align: center;
}

#kapcsolat {
    overflow: auto;
}

#kapcsolat span {
    font-weight: bold;
    float: left;
    width: calc(100% / 3);
}

#kozosseg img {
    height: 1em;
    margin-right: 0.5em;
}

#kozosseg p {
    display: inline;
}

#kozosseg a {
    background-color: var(--feher);
    color: darkblue;
    text-decoration: none;
    margin: 12px;
    display: inline-block;
    padding: 5px 20px;
}

#kozosseg a:hover {
    background-color: lightgray;
    color: black;
}

#copyright {
    font-style: italic;
    margin-top: 25px;
}

@media (max-width: 675px) {
    header{
        letter-spacing: 0px;
    }
    #kapcsolat span {
        width: 100%;
        
    }
}