main h3 {
    text-align: center;
}

main table {
    text-align: center;
}

#galeria p{
    text-align: center;
    font-weight: bold;
    background-color: var(--feher);
}

#galeria img {
    margin: 3% auto;
    background-color: var(--feher);
}

#miert {
    position: relative;
}

#hatter {
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
}

article {
    padding: 15px;
    margin: 5px;
    font-weight: bold;
    background-color: var(--feher);
}